section.shares{
    margin-top: 100px;
    margin-bottom: 0;
}
.shares__container{
    display: flex;
    padding: 0px 50px;
}
.shares__item {
   flex-basis: 33.333%;
}
.shares__item{
    margin-right: 20px;
}
.shares__item:last-child{
    margin-right: 0;
}
.shares__item img{
    max-width: 100%;
    transition: .5s;
}
.shares__item img:hover{
    transform: scale(1.1);
}
